html,body{
	margin: 0px;
	padding: 0px;
	overflow-x:none;
	font-family: Arial,sans-serif; 
}
header{
	height: 40px;
}
#main{
	margin: 0 auto;
	margin-top: 150px;
}
#start_button{
	width: 250px;
	height: 250px;
	background-color: #f5f5f5;
	border-radius: 125px;
	border: 2px solid #ccc;
	outline: none;
}
#loading{
	width: 32px;
}